
<mat-toolbar color="primary" class="navbar">

  <div>home</div>
  <div>
    <span>Book</span> &nbsp;&nbsp;
    <span>about us</span>&nbsp;&nbsp;
    <span>contact us</span>&nbsp;&nbsp;
   
  </div>
</mat-toolbar>
<div [ngClass]="{container:true,flip:flip,reduce:reduce}">
   <h1>Payment successful</h1> 
 <img src="../assets/img/thank4.jpg" alt="">
</div>


<img src="../assets/img/aero.jpeg" alt="" [ngClass]="{hide:hide,aero:true}">

<button mat-raised-button color="warn" (click)="proceed()">vrf</button>