form input{
    
}

.container{
    
        margin-left: 370px;
       margin-top: 150px;
       background-color: aliceblue;
       width: 45%;
       -moz-box-shadow:    3px 0px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
       box-shadow:         3px 0px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}