mat-form-field {
    margin-right: 12px;
  }
  .left{
      margin-left: 370px;
     margin-top: 150px;
     background-color: aliceblue;
     width: 45%;
     -moz-box-shadow:    3px 0px 5px 6px #ccc; 
     box-shadow:         3px 0px 5px 6px #ccc; 
  }
.left div{
  margin-left: 20px;
 
}