<div class="background">
<mat-toolbar color="primary" class="navbar">

  <div>home</div>
  <div>
    <span>Book</span> &nbsp;&nbsp;
    <span>about us</span>&nbsp;&nbsp;
    <span>contact us</span>&nbsp;&nbsp;
   
  </div>
</mat-toolbar>


<div class="main">

  

    
    <mat-tab-group #tabref backgroundColor="primary" (selectedTabChange)="fuu(tabref.selectedIndex)">
      <mat-tab label="User">
        
    
       
        
       <div class="user">
        <form [formGroup]="userLogin">
        
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="email" required>
          </mat-form-field>
          <br>
         
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="password" required>
          </mat-form-field>
          </form>
       </div>
       <div class="pass">
    
    
     
        <br>
        <button mat-raised-button color="warn" (click)="userButton()">login</button><br><br>      
        <a routerLink="/forgotpassword" >forgot password ?</a> 
        </div>
                
 
     </mat-tab>
      <mat-tab label="Admin"> 
       

          
       <div class="user">
        <form [formGroup]="adminLogin">
       
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="email" required>
          </mat-form-field>
          <br>
         
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input  type="password" matInput formControlName="password" placeholder="password" required>
          </mat-form-field>
          </form>
       </div>
       <div class="pass">
    
    
     
        <br>
        <button mat-raised-button color="warn" (click)="adminButton()">login</button>
      </div>
            
                
    
    </mat-tab>
     
    </mat-tab-group>  
        </div>


      </div>