<mat-toolbar color="primary" class="navbar">

  <div>home</div>
  <div>
    <span>Book</span> &nbsp;&nbsp;
    <span>about us</span>&nbsp;&nbsp;
    <span>contact us</span>&nbsp;&nbsp;
   
  </div>
</mat-toolbar>

<div class="main">
    <form [formGroup]="changePass">
        
        <mat-form-field>
          <mat-label>password</mat-label>
          <input matInput formControlName="password" placeholder="paswword" required>
        </mat-form-field>
        <br>
       
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" placeholder="confirm password" required>
        </mat-form-field>
        </form>

        <button mat-raised-button color="warn" (click)="login()">submit</button>


</div>