.card{
    background-color: #cfd5d6;
    width: 250px;
    height: 30%;
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);  
    height: 100px;
    margin-right: 20px;
    text-align: center;
}
.container{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card:hover{
    transform: rotateY(25deg) scale(1.5);
}

.navbar{
    display: flex;
    justify-content: space-between  ;
}

.background{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/img/adminHome.png');
    background-repeat: repeat-x;
    background-size: cover;
   
  }