<section>
    <img src="assets/img/logo.png" alt="">
     <div class="left"><h1 style="color:#007bff; font-weight: 900;">Stark Air</h1></div>
     <button mat-button class="right" (click)="fu0()">home</button>
     <button mat-button class="right" (click)="fu()">Login</button>
     <button mat-button class="right" (click)="fu2()"> Register</button>
     <button mat-button class="right" (click)="fu3()">Search Flight</button>
     <button mat-button class="right">Contact Us</button>
     
    </section>
  
     <div class="main">
       <div class="welcome">
    <br><br><br>
         <h1 class="mat-display-1">Welcome</h1> 
         <h1 class="mat-display-1">To</h1> 
         <h1 class="bold">Stark  Air</h1>
         <br><br>
         <h4 class="description">THE REAL VOYAGE JOURNEY CONSISTS  NOT IN SEEKING NEW LANDSCAPE BUT IN HAVING NEW EYES</h4>
         <button mat-flat-button color="accent" class="learn">Learn More</button>
     
       </div>
       <div class="image"><img src="assets/img/aircraft.png" alt=""></div>
   
       
   
     </div>
    
  


