<mat-toolbar color="primary" class="navbar">

  <div>home</div>
  <div>
    <span>Book</span> &nbsp;&nbsp;
    <span>about us</span>&nbsp;&nbsp;
    <span>contact us</span>&nbsp;&nbsp;
   
  </div>
</mat-toolbar>

<div class="main">
    <h2>Enter your Email</h2>
    <form [formGroup]="forgotPassword">
        
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="email" required>
         
        </mat-form-field>
        <br>
       
     
        </form>
        <button mat-raised-button color="warn" (click)="forgotButton()">submit</button>


</div>